@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-color: var(--color-main-background);
  font-family: "Quicksand", sans-serif;
  color: var(--color-main-text);
  line-height: 1.7;
}

.text-secondary {
  color: var(--color-secondary-text);
}

.arrow {
  border-top-color: var(--color-main-background) !important;
}

.icon {
  fill: var(--color-icon);
}
