

.readonly ._editImageButton_lug8m_846 {
   display: none;
}
.markdown {
   color: var(--color-main-text);
   font-size: 1.2rem;
}

.toolbar ._toolbarRoot_lug8m_145 {
   background-color: var(--color-main-background);
}