.membersList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-12);
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
  margin-top: var(--size-12);
 
}



.header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: var(--size-6);
}

.content {
  position: relative;
}

.loadingOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchContainer {
  display: flex;
  align-items: center;
  gap: var(--size-12);
  margin-top: var(--size-6);
}

.searchInput {
  width: calc(100% - 30px);
}
.doneIcon {
  height: 30px;
  width: 30px;
  color: var(--color-success);
}
