.section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--size-16);
  border-right: 1px solid var(--color-border);
}

.sectionContent {
  flex: 1;
  overflow: auto;
}

.sectionHeader {
  border-bottom: 1px solid var(--color-border);
  height: var(--size-48);
  margin-bottom: var(--size-16);
}
.sectionFooter {
  z-index: 1;
}



@media (max-width: 1200px) {
  .sidesection {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    left: var(--width-sidebar);
    top: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-main-background);
    transition: width 0.5s, padding 0.2s;
  }

  .sidesection.hide {
    width: 0 !important;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .sidesection.fitContent {
    max-width: fit-content;
  }
}