.image {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.message {
  font-size: medium;
  text-align: center;
  font-weight: 600;
  display: block;
  padding-left: 20px;
  color: var(--color-secondary-text);
}
