.topicsSection {
  width: var(--size-384);
}

.skeleton {
  padding: var(--size-12) var(--size-16);
}

.emptyData {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.emptyData svg {
  height: 150px;
}

.topicsList {
  margin-top: var(--size-16);
}



/* @media (max-width: 1000px) {
  .topicsSection {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left: var(--width-sidebar);
    top: 0;
    height: 100%;
    overflow: hidden;
    width: 0;
    padding: 0;
    background-color: var(--color-main-background);
    transition: width 0.2s ease-in-out, padding 0.2s ease;
  }
} */
