.container {
  display: flex;
  gap: var(--size-16);
  position: relative;
  margin-bottom: var(--size-16);
}

.messageContainer {
  border: 0;
  
}



.avatar {
  flex-shrink: 0;
  width: var(--size-32)
}

.messageBodyWrapper {
  padding-bottom: 0;
  word-break: break-all;
  max-width: var(--size-640);
}

.messageBody {
  font-weight: 600;
  font-size: 1.1rem;
  white-space: pre-line;
}

.statusWrapper {
  border: 0;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
}
