.container {
  position: relative;
  width: 100%;
  margin-left: var(--size-16);
}

.arrow {
  position: absolute;
  top: var(--size-16);
  left: -9px;
  width: 0;
  height: 0;
  border-right: 13px solid var(--color-primary);
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
.post {
  border-left: 5px solid var(--color-primary);
  max-width: var(--size-768);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1) ²;
}
.postInfo {
  display: flex;
  font-weight: 600;
  align-items: baseline;
  gap: var(--size-4);
}

.postInfo small {
  color: var(--color-secondary-text);
}

.comment {
  display: flex;
  gap: var(--size-8);
  margin-bottom: var(--size-8);
}

.comment > div {
  flex: 1;
}

.reaction {
  display: flex;
  gap: var(--size-12);
}
.reaction > button {
  flex: 1;
  font-size: large;
}
.avatar {
  width: var(--size-48);
  height: var(--size-48);
}

.ghostButton {
  padding: 0.25rem;
}
.header {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}
.openButton {
  margin-left: auto;
}

div.modal {
  max-width: none;
  width: 90vw;
  margin-top: 5vh;
}

.modalContent {
  max-height: 80vh;
  overflow: auto;
}

@media (max-width: 600px) {
  div.modal {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 100vw;
    height: 100vh;
    margin-top: 0vh;
  }
  .modalContent {
    padding: 0;
    max-height: fit-content;
    
  }
}
